html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: radial-gradient(circle at 50% 150%,
            rgb(255, 255, 255) 20%,
            rgb(243, 243, 243) 35.9%,
            rgb(226, 226, 226) 55.9%,
            rgb(255, 255, 255) 64.4%,
            rgb(0, 0, 0) 44.5%,
            rgb(19, 30, 37) 86%);
}

html,
body,
#green-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.logo-container {
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;
}

.logo {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
    width: clamp(100px, 60vw, 300px);
    pointer-events: none;
}

.contact-us{
    text-align: center;
    color: black;
    font-size: 1em;
    cursor: pointer;
}
.contact-us:hover{
    color: rgba(0,0,0,0.9);
    font-size: 1.1em;
}

#red-box {
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    animation: rotate 5s infinite;
    transition: 0.4s;
}

#green-box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    rotate: 45deg;
    animation: revolve 5s infinite;
    opacity: 0.8;
    backdrop-filter: blur(3px);
    transition: 0.4s;
}

#blue-box {
    width: 110px;
    height: 110px;
    border-radius: 20px;
    animation: rotate 5s infinite;
    opacity: 0.8;
    backdrop-filter: blur(3px);
    transition: 0.4s;
}

@keyframes revolve {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateY(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(90deg);
    }

    40% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(270deg);
    }

    80% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@media (max-width:768px) {
    body {
        background: radial-gradient(circle at 50% 190%,
                rgb(255, 255, 255) 20%,
                rgb(243, 243, 243) 35.9%,
                rgb(226, 226, 226) 55.9%,
                rgb(255, 255, 255) 64.4%,
                rgb(0, 0, 0) 44.5%,
                rgb(19, 30, 37) 86%);
    }

    .hello-container {
        grid-template-rows: 50% 30% 20%;
    }

    .logo-container {
        grid-row: 3 / span 1;
    }

    #red-box {
        grid-row: 2 / span 1;
        width: 150px;
        height: 150px;
    }

    #green-box {
        width: 110px;
        height: 110px;
    }
    
    #blue-box {
        width: 90px;
        height: 90px;
    }
}