*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-1: rgb(211,225,76);
    --color-2: rgb(79,151,173);
    --color-3: rgb(64,55,126);
    --color-4: rgb(15,29,107);
}

.occupy{
    width: 100%;
    height: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.show{
    display: grid;
    grid-template-rows: 30% 50% 20%;
}

.cards-outer-container{
    padding: 0px;
    background-image: url("./background.svg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 5s infinite alternate ease-in-out;
}

.card{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: transparent;
    animation: 1s slide ease-in-out both;
}

.card-image{
    width: 250px;
    height: 250px;
    border-radius: 250px;
    overflow: hidden;
    pointer-events: none;
}

.card-image > img{
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.card-text{
    width: 80px;
    height: 80px;
    animation: move-down 2s infinite ease;
}

.primary-cards > .card{
    flex-direction: column;
}

.info-text{
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.info-text > img {
    object-fit: cover;
    height: 140%;
    animation: 2.5s wave infinite;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
    transform: rotate(-5deg);
}

.footer{
    background-color: rgba(0, 0, 0, 0.98);
    color: #FEFEFE;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.4);
    text-align: center;
    display: grid;
    grid-template-rows: 70% 30%;
}

.footer > span {
    justify-self: center;
    align-self: center;
    box-shadow: 0px -1px 2px 0px rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
}

.footer > span:first-child{
    cursor: pointer;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.4);
    background-color: var(--color-4);
}

@media (max-width:768px) {
    .card-image{
        width: 180px;
        height: 180px;
    }
    .card-text{
        width: 60px;
        height: 60px;
    }
}

@keyframes wave{
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@keyframes move{
    0%{
        background-position-x: 40%;
    }
    100%{
        background-position-x: 0;
    }
}

@keyframes move-down{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(100%);
    }
}

@keyframes slide{
    0%{
        opacity: 0;
        scale: 1.1;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}